.pageWrapper {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: #F5F4F2;
    font-family: Gill Sans;
  }

.title {
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 20px;
}

.subtitle {
    color: #065CB1;
    font-size: 2.2em;
    font-weight: normal;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.logInButton {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 8em;
    height: 3em;
    border-style: solid;
    font-size: 1.2em;
  }

.rectangle {
    background-color: #e9e7e2;
    width: 60px;
    height: 250px;
    border-radius: 10px;
    margin-right: -1.5em;

}
.bulletContainer {
    display: grid;
    align-items: vertical;
    align-content: space-evenly;
    grid-template-columns: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listContainer {
    display: flex;
    margin-bottom: 30px;
}
