.pageWrapper {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: WHITE;
}

/* HEADER STYLES */
.header {
  display: flex;
  font-family: Gill Sans;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
}


.search {
  display: flex;
}

.searchResults {
  display: flex;
  color: black;
  font-weight: normal;
  font-family: Gill Sans;
  font-size: 0.8em;
  align-self: flex-end;
  margin-bottom: 5px;
}

.profileButton{
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 8em;
  height: 4em;
  border-style: solid;
  border-radius: 10px;
  margin-right: 10px;
  
}

.profileButton:hover {
  background-color: #e9e7e2;
}

.logInButton {
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 12em;
  height: 4em;
  border-style: solid;
  border-radius: 10px;
}

.logInButton:hover {
  background-color: #e9e7e2;
}

.searchBar {
  display: flex;
  width: 40em;
  height: 3em;
  font-size: 1em;
  /* border-radius: 10px; */
  border: 1px solid black;
  padding-left: 1em;
  margin-right: 20px;

}

.searchBar::placeholder {
  color: black;
}


.title {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  font-family: Gill Sans;
  margin-right: 30px;
  white-space: nowrap;
  text-align: center;
}


/* EVENT CARD STYLES */

.cardRight {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1em;
  z-index: 1;
  padding-left: 2.5em;
  width: 1500px;
  display: block;
}

/* .cardRight:hover {
  background-color: #e9e7e2;
} */

.cardLocation {
  font-size: 1em;
  font-weight: 600;

}

.cardFaPlus {
  position: absolute;
  right: 4em;
}

.cardFaPlus:hover {
  color: #625F5F;
}

.cardTitle {
  margin-top: .3em;
  margin-bottom: .3em;
  white-space: nowrap;
  font-size: 1.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 1200px;
  text-transform: capitalize;


}

.cardTitle:hover {
  color: #584D3D;
  opacity: 70%;
}

.cardDescription {
  color: #777777;
  margin-bottom: .5em;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.cardDept{
  color: #065CB1;
  font-weight: 500;
  font-size: .8em;
  letter-spacing: .005em;
  text-transform: uppercase;

}

.cardLeft {
  text-align: center;
  border-radius: 10px;
  border: 2.5px solid #FF5A5F;
  background-color: white;
  height: 45%;
  width: 40%;
  margin: auto;
  align-items: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0;
  padding-right: 0;
  margin-right: -1.3em;
  z-index: 2;
  width: 100px;
  max-width: 100px;

}

.cardDate {
  font-family: Gill Sans;
  font-size: 1.7em;
  font-weight: 700;

}

.cardDay, .cardMonth {
  font-size: 1.05em;
  font-weight: 700;
  text-transform: uppercase;

}

.cardContainer {
  display: flex;
  font-family: Gill Sans;
  width:100%;
  max-width: 100%;
  margin-bottom: 20px;
}


/* MODAL STYLES */

.modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
}


.modalContent {
  background-color: #fefefe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 60%;
  height: 80%;
  border: 1px solid black;
  overflow-y: auto;
}

.modalFaPlus {
  color: black;
  size: 40px;
  width: 10%;
}

.modalFaPlus:hover {
  color: #584D3D;
}

.modalTitle {
  width: 100%;
}
.modalClose {
  color: black;
  /* position: absolute; */
  /* top: 10px;
  right: 10px; */
  cursor: pogill sans;
  font-size: 30px;
  width: 8%;
}

.modalClose:hover {
  color: #584D3D;
}

.modalHeader{
  display: flex;
  margin-top: 2%;
  /* margin: 2%; */
}

.modalSubHeader {
  display: flex;
  margin: 2%;
  margin-left: 8%;
  margin-right: 8%
}

.modalDept {
  text-transform: uppercase;
  font-weight: normal;
  color:#065CB1;
}

.modalBody {
  margin: 3%;
  margin-left: 8%;
  margin-right: 8%;
}

.modalDetails {
  margin: 2%;
  margin-left: 8%;
  margin-right: 8%;
}

.modalRow {
  display: flex;
  margin-bottom: 2%;

}

.modalFriends {
  margin-top: 2%;
  color:#065CB1;
  text-align: center;

}
.modalLabel {
  width: 35%;
  color:#065CB1;
}

.modalDetail {
  font-weight: normal;
}

.modalDesc {
  color:#777777;
}

.smallIcons {
  padding-top: 6px;
}

.addCalendar {
  color:#584D3D;
  font-weight: normal;
  text-decoration: underline;
  margin-left: 10px;
}

.hLine {
  border: none;
  height: 1px;
  margin: 2%;
  background-color: #EEF4F4;
}
/* DROPDOWN FILTER STYLES */
.filters {
  /* margin-left: 225px; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin-bottom: 1rem;
}

.filterList {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  height: 3em;
  margin-right: 15px;


}

.textIconContainer {
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
}

.resetButton {
  background-color: #2B3D41;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  height: 2.5em;
  border: 1px solid #2B3D41;
  border-radius: 8px;
}

.menu {
  list-style-type: none;
  border: 1px solid #EEF4F4;
  /* border-radius: 8px; */
  width: 402px;
  text-align: left;
  position: fixed;
  z-index: 3;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 10px;
  filter: drop-shadow(0 0 0.1rem grey);

}

.icon {
  max-height: 55px;
  margin-right: 20px;
}

.menuItem > button {
  background-color: white;
  color: black;
  border: none;
  padding-left: 10px;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 1em;

}

.menu > li > button:hover {
  background-color: #e9e7e2;
}

.orderBy {
  color: #777777;
  display: inline;
  font-size: .8em;
  padding-right: 10px;
  align-items: center;
}
.orderContainer {
  display: flex;
  align-items: center;
}

/* PROFILE STYLES */
.profileMain {
  /* display: flex; */
}

.profileTop {
  display: flex;

}

.profileBottom {
  /* width: 40%; */

}

.personalSection {
  width: 60%;

}

.friendSection {
  margin-left: 50px;
}

.upcomingEvents {
  margin-top: 30px;

}

.rectangleBg {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #2B3D41;

  margin-bottom: -15px;
}

.profileImageContainer {
  position: relative;
  height: 90px;
  width: 90px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.profileImage {
  width: 100%;
}

.iconName {
  display: flex;
  margin-left: 40px;
}

.nameEmail {
  margin: auto;
  margin-left: 20px;
}

.email {
  font-weight: normal;
}

.profileLogOut {
  position: relative;
  float: right;
  background-color: #e0dede;
  color: black;
  border-color: white;
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid white;
  font-size: .8em;
  border-radius: 8px;
}

.upcomingContainer {
  display: flex;
  width: 100%;
  height: 400px;
  /* border: 1px solid black; */
  /* background-color: #f3f3f3; */
  margin-bottom: -15px;
  margin-top: 20px;
  overflow-x: auto;
}

.friendSection {
  width: 20em;
  margin-left: auto;
  margin-right: 0;
}

.friendButton {
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 100%;
  height: 4em;
  border-style: solid;
  border-radius: 10px;
}

.friendImages {
  width: 75px;
  margin: 10px;

}

.myFriends {
  width: 90%;
  margin: auto;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}


/* PROFILE EVENT CARD STYLES */

.profileCardTitle {
  font-size: large;
  color: #065CB1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: inline-block;


}

.profileCardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #777777;

}

.profileCardDetails {
  margin-bottom:10px;

}

.profileCardContainer {
  font-family: Gill Sans;
  background-color: white;
  flex: 0 0 auto;
  max-width: 250px;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
}

.closeIcon {
  color: #584D3D;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pogill sans;
}

@media screen and (max-width: 1300px) {
  .cardContainer {
    width: 100%;
  }
  .cardRight {
    width: 90%;
  }
  .cardLeft {
    width: 15%;
  }

  .cardTitle {
    width: 95%;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }
  .headerLeft {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    margin-bottom: 20px;
    margin-top: 2%;
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 0px;
    flex-wrap: wrap;
  }
 

}

@media screen and (max-width: 800px) {

  .header {
    flex-direction: column-reverse;
    text-align: center;
  }

  .headerRight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 5%;
  }

  .searchBar {
    width: 120%;
    margin-bottom: 0;
  }

  .filters {
    margin-top: 0;
  }

  .cardLeft {
    width: 40%;
  }

  .cardRight {
    width: 85%;
  }

  .cardContainer {
    width: 95%;
  }

  .cardTitle {
    font-size: 1.2em;
  }

}

  
/* FRIEND MODAL STYLES */
.friendModal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
}


.friendModalContent {
  background-color: #fefefe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 70%;
  height: 80%;
  border: 1px solid black;
  overflow-y: auto;
}

.friendModalHeader {
  display: flex;
  height: 3em;
}

.friendSearchBar {
  display: flex;
  width: 35em;
  height: 100%;
  font-size: 1em;
  /* border-radius: 10px; */
  border: 1px solid black;
  padding-left: 1em;
  margin-right: 20px;

}

.friendModalClose {
  margin-left: auto;
  margin-right: 0;
  /* cursor: pogill sans; */
  font-size: 30px;
}
.friendModalClose:hover {
  color: #584D3D;

  
}
.friendFilterList {
  background-color: white;
  color: black;
  /* padding: 6px; */
  padding-left: 10px;
  padding-right: 10px;
  height: 2.5em;
  /* margin-right: 15px; */
  font-size: 1em;
  display: inline-block;
  border: none;
  align-items: center;
  /* position: relative; */

}
.friendDropContainer {
  display: flex;
  position: relative;
  height: 100%;
  border: 1px solid black;
  align-items: center;

}

.friendMenu {
  left: 0;
  top: 80%;
  margin-left: 10px;
  list-style-type: none;
  position: relative;
  border: 1px solid #EEF4F4;
  width: 402px;
  text-align: left;
  position: absolute;
  background-color: white;
  z-index: 1;
  filter: drop-shadow(0 0 0.1rem grey);

}

.friendMenuItem > button {
  background-color: white;
  color: black;
  border: none;
  /* padding-left: 10px; */
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 1em;

}

.friendMenu > li > button:hover {
  background-color: #e9e7e2;
}

.friendListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* FRIEND CARD STYLES */

.friendCard {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 48%;
}

.friendCardImage {
  margin: 10px;
  border-radius: 8px; 
  height: 80px;
}

.friendCardName {
  margin: 10px;
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.friendButtonContainer {
  margin-left: auto;
  margin-right: 20px;
}

.friendCardButton {
  background-color: #065CB1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  padding-left:40px;
  padding-right: 40px;
  font-weight: bold;

}

/* DARK MODE STYLES */

@media screen and (prefers-color-scheme: dark) {
  .pageBody, .pageWrapper {
    background-color: #22212c;
  }
  .cardRight {
    background-color: #22212c;
    border-color: white;
  }
  .cardDept {
    color: #88b9ea;
  }
  .filterList, .friendFilterList, .friendDropContainer {
    background-color: #22212c;
    color: white;
    border-color: #22212c;
}
  .menu, .menuItem > button, .friendMenu, .friendMenuItem > button  {
    background-color: #22212c;
    color: white;
    border-color: #22212c;
  }
  .menu > li > button:hover, .friendMenu > li > button:hover {
    background-color: #4f4e5c;
  }
  .orderBy {
    color: white;
    
  }

  .resetButton {
    background-color: white;
    color: black;
  }
  .searchResults {
    color: white;
  }
  .searchBar, .friendSearchBar{
    background-color: #22212c;
    color: white;
    border-color: white;
  }
  .searchBar::placeholder, .friendSearchBar::placeholder {
    color: white;
  }


  .logInButton, .profileButton, .friendButton{
    background-color: #22212c;
    color: white;
    border-color: white;
  }

  .logInButton:hover, .profileButton:hover, .friendButton:hover {
    background-color: #4f4e5c;
  }

  .cardTitle:hover {
    color: #bcc2c7;
  }

  .cardDescription {
    color: #bcb9b9;
  }

  .modalContent {
    background-color: #22212c;
    color: white;
  }

  .modalLabel, .modalDetails, .modalDept, .modalFriends {
    color: #88b9ea;
  }
  .modalDetail {
    color: white;
  }

  .modalDesc, .addCalendar {
    color: #bcb9b9;
  }

  .modalClose, .modalFaPlus{
    color: white;
  }

  .modalClose:hover, .modalFaPlus:hover {
    color: #4f4e5c;
  }
  .rectangleBg {
    background-color: #4f4e5c;
    border: none;
  }



  .profileCardContainer {
    background-color: #22212c;
    color: white;
    border-color: white;
  }

  .profileCardTitle {
    color: #88b9ea;
  }
  .closeIcon {
    color: white;
  }
  .profileLogOut {
    background-color: #4f4e5c;
    color: white;
    border: none;

  }
  .friendModalContent {
    background-color: #22212c;
    color: white;
  }
  
  .friendCard {
    border-color: white;
  }
  .friendCardButton {
    background-color: #557799;
    color: white;
  }


}
